# Environment Variables
# Duplicate this file as .env.local to test locally.

# Set this to your production domain name once deployed.
# E.g. https://maharahmad.com
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
